<h1><%= t('.badges') %></h1>

<h2><%= t('.badge_received')  %></h2>
<div class="row">
  <%= render @user_badges %>
</div>

<h2><%= t('.all_badges')  %></h2>
<div class="row">
  <%= render @badges_all %>
</div>
