<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #dadada;">
  <div class="container">  
    <%= link_to "Test Guru", root_url, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header" style="background-color: #dadada;">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">      
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <span class="nav-link" role="button" data-bs-toggle="modal" data-bs-target="#messageModal">
            <%= octicon 'mail', class: "text-black" %>
            Contact us
            </span>
          </li> 

          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Welcome, #{current_user.name} Guru", tests_path, class: 'nav-link' %>
            </li>  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= octicon 'person', class: "text-black" %>
                <%= current_user.name %> 
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><%= link_to "All tests", tests_path, class: "dropdown-item" %></li>                
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Выход", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
              </ul>
            </li>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to admin_tests_path, class: 'nav-link' do %>
                  <%= octicon 'gear', class: "text-black" %>
                  Admin Panel
                <% end %>
              </li> 
            <% end %>
          <% else %>
            <div class="text-end mt-1">
              <%= link_to "Регистрация", new_user_registration_path, class: 'btn btn-sm btn-outline-primary' %>
              <%= link_to "Вход", new_user_session_path, class: 'btn btn-sm btn-outline-primary' %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- message modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Написать нам</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="body-message">
        <%= form_with(url: send_message_path, local: false, html: { name: "message" }) do |f| %>
          <div class="form-group">
            <%= f.label "Email" %>            
            <%= f.email_field :email, class:"form-control form-control-sm", required: true %>             
          </div>      
              
          <div class="my-3">
            <%= f.label "Текст:", class: 'form-label' %>          
            <%= f.text_area :body, class:"form-control", rows:3 %>
          </div>

          <div class="d-flex justify-content-center">
            <%= button_tag "Отправить", type: 'submit', class:"w-50 btn btn-primary" %>
          </div>              
        <% end %>    
      </div>
    </div>
  </div>
</div>
