<%= form_with model: [:admin, @question, @answer] do |f| %>
  <%= render 'shared/errors', resource: @answer %>

  <div class="form-group mb-2 col-6">
    <%= f.label :body, class: "form-label" %>        
    <%= f.text_area :body, rows:7, cols:60, class: 'form-control', required: true %>
  </div>

  <div class="form-check mb-2 col-6">
    <%= f.label :correct, class: "form-check-label" %>        
    <%= f.check_box :correct, class: "form-check-input" %>
  </div>

  
  <div class="text-center col-6 mt-3">
    <%= f.submit class:"btn btn-primary"%>
    <%= link_to t('actions.back'), :back, class: "btn btn-secondary" %>
  </div>

<% end %>
