<h1><%= t('.question_show', id: @question.id) %></h1>

<p>
  <strong><%= t('.question_test') %></strong>
  <%= @question.test.title %>
</p>

<p>
  <strong><%= t('.question_body') %></strong>
  <%= @question.body %>
</p>

<h2><%= t('.answers') %></h2>

<%= link_to t('actions.new_answer'), new_admin_question_answer_path(@question), class: 'btn btn-outline-primary btn-sm mb-3' %>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to t('actions.to_test'), admin_test_path(@question.test), class: "btn btn-success btn-sm" %>
  <%= link_to t('actions.edit'), edit_admin_question_path(@question), class: "btn btn-success btn-sm" %>
  <%= link_to t('actions.destroy'), admin_question_path(@question),
                 method: :delete,
                 data: { confirm: t('actions.confirm') },
                 class: "btn btn-outline-danger btn-sm" %>
</p>




