<%= form_with model: [:admin, @test] do |f| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="form-group mb-2 col-6">
    <%= f.label :title, class: "form-label" %>        
    <%= f.text_field :title, class: 'form-control form-control-sm', required: true %>
  </div>

  <div class="form-group mb-2 col-6">
    <%= f.label :level, class: "form-label" %>        
    <%= f.number_field :level, class: 'form-control form-control-sm', required: true %>
  </div>

  <div class="form-group mb-2 col-6">
    <%= f.label :category_id, class: "form-label" %>        
    <%= f.collection_select :category_id, Category.all, :id, :title,
              { prompt: true }, class:"form-select form-select-sm", required: true %>
  </div>

  <div class="text-center col-6 mt-3">
    <%= f.submit class:"btn btn-primary"%>
    <%= link_to t('actions.all_tests'), :back, class: "btn btn-secondary" %>
  </div>
<% end %>
