<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p><strong>Questions:</strong></p>

<table class="table table-striped mt-3">
  <tr>
    <th>Body</th>
    <th>Actions</th>
  </tr>

  <%= render @test.questions %>
  
</table>

<p>
  <%= link_to "Add question", new_admin_test_question_path(@test), class: "btn btn-success btn-sm" %>
  <%= link_to "Edit", edit_admin_test_path(@test), class: "btn btn-success btn-sm" %>
  <%= link_to "All tests", tests_path, class: "btn btn-primary btn-sm" %>
</p>
