<tr>
  <td><%= link_to test.title, admin_tests_path(test) %> (<%= test.questions.count %>)</td>
  <td><%= test.category.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= button_to 'Start', start_test_path(test), class: "btn btn-primary btn-sm" %></td>
</tr>
