<tr>
  <td><%= test.title %> (<%= test.questions.count %>)</td>
  <td><%= test.category.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= button_to t('actions.start'), start_test_path(test), class: "btn btn-primary btn-sm" %></td>
</tr>
